# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sconsign.dblite

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images
*.pdf
*.png
*.root
*rbp
VegaXmlPlotter.log
.vscode/settings.json
*.log
*-compiled.xml
bin/basic_test.xml
bin/basic_test.C
*.yaml